@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Header - Logo
	3.2 Header - Main Navigation
	3.3 Header - Emojis
	3.4 Header - Burger
4. Home
5. Menu
6. Gift
7. List of ideas
8. Footer

******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@font-face {
    font-family: 'Lucida';
    src: url('../fonts/lucida_bright_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Lucida';
    src: url('../fonts/lucida_bright_demi.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Beyond';
    src: url('../fonts/beyond_the_mountains.otf') format('opentype'), url('../fonts/beyond_the_mountains.ttf') format('truetype');
}

@media screen and (min-width: 768px) {
    .interest_grid {
        grid-template-columns: repeat(5, 1fr);
    }

    label {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        padding-right: 70px;
        padding-left: 70px;
    }
}

@media screen and (max-width: 767px) {
    .LoginBTN {
        display: none;
    }

    .interest_grid {
        grid-template-columns: repeat(auto-fill, minmax(calc(33.333% - 20px), 1fr));
    }

    label {
        display: inline-block;
        cursor: pointer;
        padding: 10px;
        padding-right: 30px;
        padding-left: 30px;
    }
}

@media screen and (max-width: 359px) {
    .avatar {
        display: none;
    }

    .cart {
        display: none;
    }

    #phUserName {
        display: none;
    }
}

/*********************************
2. Body and some general stuff
*********************************/

* {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: #FFFFFF;
    color: #2f2f2f;
}

div {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin-bottom: 0px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 2;
    font-weight: 400;
    color: #929191;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

    p a {
        display: inline;
        position: relative;
        color: inherit;
        border-bottom: solid 1px #ffa07f;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

a, a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

p a:active {
    position: relative;
    color: #FF6347;
}

p a:hover {
    color: #FFFFFF;
    background: #ffa07f;
}

    p a:hover::after {
        opacity: 0.2;
    }

::selection {
}

p::selection {
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

    h1::selection,
    h2::selection,
    h3::selection,
    h4::selection,
    h5::selection,
    h6::selection {
    }

.form-control {
    color: #db5246;
}

section {
    display: block;
    position: relative;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.clearfix::before, .clearfix::after {
    content: "";
    display: table;
}

.clearfix::after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.trans_200 {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

.trans_300 {
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.trans_400 {
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.trans_500 {
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.fill_height {
    height: 100%;
}

.super_container {
    width: 100%;
    overflow: hidden;
}

.prlx_parent {
    overflow: hidden;
}

.prlx {
    height: 130% !important;
}

.nopadding {
    padding: 0px !important;
}

.section_title_container {
}

.section_subtitle {
    font-size: 14px;
    font-weight: 600;
    color: #937c6f;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.section_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    text-transform: uppercase;
    color: #2f2f2f;
    margin-top: -4px;
}

.button {
    width: 192px;
    height: 46px;
    background: #937c6f;
    text-align: center;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

    .button a {
        display: block;
        font-size: 12px;
        text-transform: uppercase;
        color: #FFFFFF;
        letter-spacing: 0.2em;
        line-height: 46px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

    .button:hover {
        background: #e0e3e4;
    }

        .button:hover a {
            color: #232323;
        }

/*********************************
3. Header
*********************************/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    z-index: 100;
    padding-left: 60px;
    padding-right: 64px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    direction: rtl;
}

    .header.scrolled {
        height: 80px;
    }

.header_inner {
    width: 100%;
    height: 100%;
}

.LoginBTN {
    /* position: absolute; */
    font-family: 'Open Sans', sans-serif;
    top: 40px;
    left: 60px;
    background: #937c6f;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
    height: 30px;
}

    .LoginBTN:hover {
        background: #e0e3e4;
        color: #232323;
    }

/*********************************
3.1 Header - Logo
*********************************/

#Logo {
    margin-right: 30px;
}

.logo a {
    font-family: 'Lucida Sans Unicode';
    font-size: 30px;
    color: #2f2f2f;
}

/*********************************
3.2 Header - Main Navigation
*********************************/

.main_nav {
    padding-right: 20px;
    -webkit-transform: translateY(4px);
    -moz-transform: translateY(4px);
    -ms-transform: translateY(4px);
    -o-transform: translateY(4px);
    transform: translateY(4px);
}

    .main_nav ul li {
        display: inline-block;
        margin-left: 27px;
    }

        .main_nav ul li:last-child {
            margin-right: 0;
        }

        .main_nav ul li a {
            font-size: 12px;
            text-transform: uppercase;
            color: #2f2f2f;
            font-weight: 600;
            letter-spacing: 0.2em;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

            .main_nav ul li a:hover {
                color: #937c6f;
            }

#phUserName {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #2f2f2f;
    font-weight: 600;
    letter-spacing: 0.05em;
}

/*********************************
3.3 Header - Emojis
*********************************/

.shopping {
    display: inline-block;
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}

    .shopping a {
        display: inline-block;
        margin-right: 10px;
    }

        .shopping a:last-child {
            margin-right: 0;
        }

.avatar img {
    width: 20px;
    height: 20px;
}

/*********************************
3.4 Header - Burger
*********************************/
.burger_container {
    /* position: absolute; */
    /* top: calc(50% + 4px); */
    /* -webkit-transform: translateY(-50%); */
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    /* transform: translateY(-50%); */
    /* right: 0; */
    width: 22px;
    height: 16px;
    cursor: pointer;
}

    .burger_container div {
        width: 100%;
        height: 2px;
        background: #232323;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        pointer-events: none;
    }

    .burger_container:hover div {
        background: #937c6f;
    }

/*********************************
4. Home
*********************************/

.home {
    width: 100%;
}

.home_background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.home_container {
    width: 100%;
    height: 397px;
}

.home_content {
    position: absolute;
    left: 0;
    top: 62.4%;
}

.home_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 36px;
    text-align: center;
    padding: 10px;
    color: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .home_title {
        font-size: 26px;
    }
}

/*********************************
5. Menu
*********************************/

.menu {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100vh;
    background: #FFFFFF;
    z-index: 101;
    padding-right: 60px;
    padding-top: 87px;
    padding-left: 50px;
}

.menu_login {
    font-family: 'Open Sans', sans-serif;
    background: #937c6f;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
}

    .menu_login:hover {
        background: #e0e3e4;
        color: #232323;
    }

.menu.active {
    right: 0;
}

.menu_close_container {
    position: absolute;
    top: 30px;
    right: 60px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
}

.menu_close {
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}

    .menu_close div {
        width: 100%;
        height: 2px;
        background: #232323;
        top: 8px;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .menu_close div:last-of-type {
            -webkit-transform: rotate(90deg) translateX(-2px);
            -moz-transform: rotate(90deg) translateX(-2px);
            -ms-transform: rotate(90deg) translateX(-2px);
            -o-transform: rotate(90deg) translateX(-2px);
            transform: rotate(90deg) translateX(-2px);
            transform-origin: center;
        }

    .menu_close:hover div {
        background: #937c6f;
    }

.menu .logo {
    margin-bottom: 60px;
}

.menu_nav ul li {
    margin-bottom: 11px;
}

    .menu_nav ul li a {
        font-size: 12px;
        text-transform: uppercase;
        color: #2f2f2f;
        font-weight: 600;
        letter-spacing: 0.2em;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
    }

        .menu_nav ul li a:hover {
            color: #937c6f;
        }

/*********************************
6. Gift
*********************************/

.gift {
    width: 100%;
    background: #f9f5f5;
    padding-top: 99px;
    padding-bottom: 97px;
    direction: rtl;
}

.review_form_container {
    width: 100%;
}

.review_form_title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    color: #232323;
    text-transform: uppercase;
    line-height: 0.75;
    text-align: center;
}

.review_form_content {
    margin-top: 99px;
    text-align: center;
}

.review_form {
    width: 100%;
}

    .review_form div {
        width: 100%;
    }

.review_form_input {
    display: block;
    width: calc((100% - 60px) / 3);
    height: 53px;
    border: solid 1px #b5b5b5;
    outline: none;
    padding-right: 22px;
}

.review_form_text {
    width: 100%;
    height: 53px;
    border: solid 1px #b5b5b5;
    outline: none;
    padding-right: 22px;
    margin-top: 27px;
    height: 234px;
    padding-top: 20px;
}

.review_form_input::-webkit-input-placeholder,
.review_form_text {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #8c8c8c !important;
}

.review_form_input:-moz-placeholder,
.review_form_text {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #8c8c8c !important;
}

.review_form_input::-moz-placeholder,
.review_form_text {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #8c8c8c !important;
}

.review_form_input:-ms-input-placeholder,
.review_form_text {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #8c8c8c !important;
}

.review_form_input::input-placeholder,
.review_form_text {
    font-size: 12px !important;
    font-weight: 400 !important;
    font-style: italic;
    color: #8c8c8c !important;
}

.review_form_button {
    width: 179px;
    height: 46px;
    margin-right: 20px;
    border: none;
    border-radius: 23px; /* עיגול קצוות */
    outline: none;
    background: #937c6f;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    cursor: pointer;
    margin-top: 18px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}

    .review_form_button:hover {
        background: #e0e3e4;
        color: #232323;
    }

.interest_grid {
    display: grid;
    gap: 20px;
}

.interest {
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interest_icon {
    width: 50px;
    height: auto;
    padding-bottom: 5px;
}

.interest_title {
    display: block;
    font-size: 16px;
    margin-top: 5px;
}

input[type="checkbox"]:checked + label {
    background-color: #937c6f;
    color: #fff;
}

input[type="checkbox"] {
    display: none;
}

.upload-label {
    background-color: #937c6f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.click-counter {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    font-weight: bold;
    color: #937c6f;
    background-color: #fff;
}

/*********************************
7. List of ideas
*********************************/

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 280px;
    margin: 0 auto; /* מרכז את הכרטיס */
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.container {
    padding: 2px 16px;
    text-align: center; /* מרכז את התוכן */
    max-width: 100%;
    margin: auto;
}

.collapsible {
    border: none;
    font-size: 15px;
    background: #f9f5f5;
}

.content {
    padding: 0 18px;
    display: none;
    width:280px;
    margin-right: 43px;
    text-align: center; /* מרכז את הטקסט */
}

#pic {
    height: 200px;
    width: 278px;
    display: block;
    margin: 0 auto;
}

.collapsible:focus {
    outline: none;
}

.cardFrame {
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    margin: 0 auto; /* מרכז את הכרטיס */
}

#heart_h4 {
    width: 30px;
    height: 30px;
    position: relative;
    top: -3px;
}

.heart {
    position: relative;
    right: 60px;
    top: 38px;
    width: 40px;
    height: 40px;
    z-index: 1;
}


/*********************************
8. Footer
*********************************/
.footer {
    padding-top: 80px;
}

.footer_logo a {
    font-family: 'Open Sans', sans-serif;
    font-size: 60px;
    color: #232323;
}

.footer_nav {
    margin-top: 14px;
}

    .footer_nav ul li {
        display: inline-block;
        margin-right: 53px;
    }

        .footer_nav ul li:last-child {
            margin-right: 0;
        }

        .footer_nav ul li a {
            font-size: 12px;
            text-transform: uppercase;
            color: #232323;
            font-weight: 600;
            letter-spacing: 0.2em;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

            .footer_nav ul li a:hover {
                color: #937c6f;
            }

.footer_social {
    margin-top: 51px;
}

    .footer_social ul li {
        display: inline-block;
        margin-right: 36px;
    }

        .footer_social ul li:last-child {
            margin-right: 0;
        }

        .footer_social ul li a i {
            font-size: 24px;
            color: #937c6f;
            -webkit-transition: all 200ms ease;
            -moz-transition: all 200ms ease;
            -ms-transition: all 200ms ease;
            -o-transition: all 200ms ease;
            transition: all 200ms ease;
        }

            .footer_social ul li a i:hover {
                color: #e0e3e4;
            }

.copyright {
    margin-top: 56px;
    padding-bottom: 13px;
    font-family: 'Lucida', serif;
    font-size: 12px;
    color: #232323;
}

.g15 {
    gap: 15px;
}

@media only screen and (max-width: 575px) {
    .header {
        height: 70px;
        padding: 10px;
    }

    #Logo img {
        height: 50px;
        width: 50px;
    }

    #Logo {
        margin-right: 10px;
    }
}

#userHeader {
    gap: 2px;
}

.burger_container.d-flex.flex-column.align-items-center.justify-content-around.menu_mm {
    margin-top: 5px;
}