@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Header - Logo
	3.2 Header - Main Navigation
	3.3 Header - Burger
4. Home
	4.1 Home Slider
5. Menu
6. Promo
7. Gallery
8. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@font-face
{
	font-family: 'Lucida';
	src: url('../fonts/lucida_bright_regular.ttf')  format('truetype');
}
@font-face
{
	font-family: 'Lucida';
	src: url('../fonts/lucida_bright_demi.ttf')  format('truetype');
	font-weight: 700;
}
@font-face
{
	font-family: 'Beyond';
	src: url('../fonts/beyond_the_mountains.otf')  format('opentype'),
		 url('../fonts/beyond_the_mountains.ttf')  format('truetype');
}

@media screen and (max-width: 767px) {
	.LoginBTN {
		display: none;
	}
}

/*********************************
2. Body and some general stuff
*********************************/

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #2f2f2f;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 2;
	font-weight: 400;
	color: #929191;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.nopadding
{
	padding: 0px !important;
}
.section_title_container
{

}
.section_subtitle
{
	font-size: 14px;
	font-weight: 600;
	color: #937c6f;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.section_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	text-transform: uppercase;
	color: #2f2f2f;
	margin-top: -4px;
}
.button
{
	width: 142px;
	height: 46px;
	background: #937c6f;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #FFFFFF;
	letter-spacing: 0.2em;
	line-height: 46px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button:hover
{
	background: #e0e3e4;
}
.button:hover a
{
	color: #232323;
}

/*********************************
3. Header
*********************************/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120px;
	background: #FFFFFF;
	z-index: 100;
	padding-left: 60px;
	padding-right: 64px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	direction: rtl;
}
.header.scrolled
{
	height: 80px;
}
.header_inner
{
	width: 100%;
	height: 100%;
}

.LoginBTN {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	top: 40px;
	left: 60px;
	background: #937c6f;
	color: #fff;
	padding: 7px;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	font-size: 14px;
	width: 150px;
}

	.LoginBTN:hover {
		background: #e0e3e4;
		color: #232323;
	}

/*********************************
3.1 Header - Logo
*********************************/

#Logo {
	padding-right:250px;
}

.logo a {
	font-family: 'Lucida Sans Unicode';
	font-size: 30px;
	color: #2f2f2f;
}

/*********************************
3.2 Header - Main Navigation
*********************************/

.main_nav
{
	padding-right: 100px;
	-webkit-transform: translateY(4px);
	-moz-transform: translateY(4px);
	-ms-transform: translateY(4px);
	-o-transform: translateY(4px);
	transform: translateY(4px);
}
.main_nav ul li
{
	display: inline-block;
	margin-left: 50px;
}
.main_nav ul li:last-child
{
	margin-right: 0;
}
.main_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav ul li a:hover
{
	color: #937c6f;
}

/*********************************
3.3 Header - Burger
*********************************/

.burger_container
{
	position: absolute;
	top: calc(50% + 4px);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	width: 22px;
	height: 16px;
	cursor: pointer;
}
.burger_container div
{
	width: 100%;
	height: 2px;
	background: #232323;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	pointer-events: none;
}
.burger_container:hover div
{
	background: #937c6f;
}

/*********************************
4. Home
*********************************/

.home
{
	width: 100%;
	height: 904px;
	background: #FFFFFF;
}

/*********************************
4.1 Home Slider
*********************************/

.home_slider_container
{
	width: 100%;
	height: 100%;
}
.home_slider_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_slider_content
{
	position: absolute;
	top: 56.3%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 10;
}
.home_slider_content_inner
{
	background: #937c6f;
}
.home_slider_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 72px;
	color: #FFFFFF;
	height: 99px;
	line-height: 99px;
	padding-left: 31px;
	padding-right: 19px;
	white-space: nowrap;
}
.home_slider_subtitle {
	position: absolute;
	font-family: 'Open Sans', sans-serif;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -37px;
	height: 37px;
	background: #2f2f2f;
	color: #FFFFFF;
	padding-left: 34px;
	padding-right: 34px;
	line-height: 37px;
	font-size: 18px;
	white-space: nowrap;
}
.home_slider_next
{
	position: absolute;
	top: 54%;
	right: 60px;
	width: 45px;
	height: 45px;
	background: #937c6f;
	z-index: 10;
	border-radius: 50%;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_slider_next:hover
{
	background: #2f2f2f;
}
/*.home_slider_dots_container
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.home_slider_dots
{
	display: inline-block;
	position: absolute;
	top: -54px;
	left: 0;
}
.home_slider_dots ul
{
	display: inline-block;
}
.home_slider_dots ul li
{
	display: inline-block;
	position: relative;
	font-family: 'Lucida', serif;
	font-size: 18px;
	color: #FFFFFF;
	margin-right: 7px;
	cursor: pointer;
}
.home_slider_dots ul li:last-child
{
	margin-right: 0;
}
.home_slider_custom_dot div
{
	display: inline-block;
	width: 0px;
	height: 1px;
	background: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	margin-left: 4px;
	margin-right: -4px;
}
.home_slider_custom_dot.active div
{
	width: 100px;
}
.home_slider .owl-dots
{
	display: none !important;
}*/

/*********************************
5. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: #FFFFFF;
	z-index: 101;
	padding-right: 60px;
	padding-top: 87px;
	padding-left: 50px;
}

.menu_login {
	font-family: 'Open Sans', sans-serif;
	background: #937c6f;
	color: #fff;
	padding: 7px;
	border: none;
	border-radius: 16px;
	cursor: pointer;
	font-size: 14px;
	width: 150px;
}

	.menu_login:hover {
		background: #e0e3e4;
		color: #232323;
	}

.menu.active
{
	right: 0;
}
.menu_close_container
{
	position: absolute;
	top: 30px;
	right: 60px;
	width: 18px;
	height: 18px;
	transform-origin: center center;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	cursor: pointer;
}
.menu_close
{
	width: 100%;
	height: 100%;
	transform-style: preserve-3D;
}
.menu_close div
{
	width: 100%;
	height: 2px;
	background: #232323;
	top: 8px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close div:last-of-type
{
	-webkit-transform: rotate(90deg) translateX(-2px);
	-moz-transform: rotate(90deg) translateX(-2px);
	-ms-transform: rotate(90deg) translateX(-2px);
	-o-transform: rotate(90deg) translateX(-2px);
	transform: rotate(90deg) translateX(-2px);
	transform-origin: center;
}
.menu_close:hover div
{
	background: #937c6f;
}
.menu .logo
{
	margin-bottom: 60px;
}
.menu_nav ul li
{
	margin-bottom: 11px;
}
.menu_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #2f2f2f;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_nav ul li a:hover
{
	color: #937c6f;
}

/*********************************
6. Promo
*********************************/

.promo
{
	padding-top: 88px;
}
.promo_container
{
	margin-top: 75px;
}
.promo_item
{
	width: 100%;
}
.promo_image
{
	width: 100%;
}
.promo_image img
{
	max-width: 100%;
}
/*.promo_link
{
	width: 100%;
	height: 60px;
	background: #2f2f2f;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.promo_link a
{
	display: block;
	font-family: 'Lucida', serif;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 60px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}*/
.promo_link:hover
{
	background: #222222;
}
.promo_link:hover a
{
	color: #937c6f;
}
.promo_content
{
	position: absolute;
	top: 43.6%;
	z-index: 1;
}
/*.promo_content_1
{
	right: 0;
	text-align: right;
	padding-right: 14px;
}*/
.promo_content_2
{
	left: 0;
	width: 100%;
	text-align: center;
	background: rgba(35, 35, 35, 0.63);
	padding-bottom: 9px;
	padding-top: 2px;
}
/*.promo_content_3
{
	top: 30%;
	left: 15px;
	background: #232323;
	padding-left: 10px;
	text-align: right;
	padding-right: 22px;
	padding-top: 39px;
	padding-bottom: 41px;
}*/
.promo_title {
	font-family: 'Open Sans', sans-serif;
	font-size: 30px;
	color: #FFFFFF;
}
/*.promo_subtitle
{
	font-size: 14px;
	color: #FFFFFF;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: -3px;
}*/
.promo_content_3 .promo_subtitle
{
	text-transform: none;
	font-weight: 400;
	font-style: italic;
}

/*********************************
7. Gallery
*********************************/

.gallery
{
	width: 100%;
	padding-top: 88px;
	padding-left: 44px;
	padding-right: 44px;
	padding-bottom: 42px;
	margin-top: 99px;
}
.gallery_item a
{
	display: block;
	outline: none;
}
.gallery_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.gallery_title
{

}
.gallery_title ul li
{
	display: inline-block;
	margin-right: 34px;
}
.gallery_title ul li:last-child
{
	margin-right: 0;
}
.gallery_title ul li a
{
	font-family: 'Lucida', serif;
	font-size: 36px;
	font-weight: 700;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.gallery_title ul li a:hover
{
	color: #937c6f;
}
.gallery_text
{
	font-size: 16px;
	color: #FFFFFF;
	margin-top: 5px;
}
.gallery_button
{
	margin: 0 auto;
	margin-top: 40px;
}
.gallery_slider_container
{
	margin-top: 55px;
}

/*********************************
8. Footer
*********************************/

.footer 
{
	padding-top: 80px;
}
.footer_logo a 
{
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	color: #232323;
}
.footer_nav 
{
	margin-top: 14px;
}
.footer_nav ul li
{
	display: inline-block;
	margin-right: 53px;
}
.footer_nav ul li:last-child
{
	margin-right: 0;
}
.footer_nav ul li a
{
	font-size: 12px;
	text-transform: uppercase;
	color: #232323;
	font-weight: 600;
	letter-spacing: 0.2em;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_nav ul li a:hover
{
	color: #937c6f;
}
.footer_social
{
	margin-top: 51px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 36px;
}
.footer_social ul li:last-child
{
	margin-right: 0;
}
.footer_social ul li a i
{
	font-size: 24px;
	color: #937c6f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_social ul li a i:hover
{
	color: #e0e3e4;
}
.copyright
{
	margin-top: 56px;
	padding-bottom: 13px;
	font-family: 'Lucida', serif;
	font-size: 12px;
	color: #232323;
}