/* סגנון לחלון הקופץ */
#RegisterPopup {
    display: none;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* צבע לבן שקפקף */
    z-index: 1000;
    direction: rtl;
    border-radius: 8px; /* זווית מעוגלת */
    height: 460px; /* אורך מרבי */
    width: 400px; /* אורך מקרי */
}
#loginPopup {
    display: none;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* צבע לבן שקפקף */
    z-index: 1000;
    direction: rtl;
    border-radius: 8px; /* זווית מעוגלת */
    height: 320px; /* אורך מרבי */
    width: 400px; /* אורך מקרי */
}

#ForgotPassPopup {
    display: none;
    position: fixed;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* צבע לבן שקפקף */
    z-index: 1000;
    direction: rtl;
    border-radius: 8px; /* זווית מעוגלת */
    height: 320px; /* אורך מרבי */
    width: 400px; /* אורך מקרי */
}

.popup1 {
    display: none;
    position: fixed;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7); /* צבע לבן שקפקף */
    z-index: 1000;
    direction: rtl;
    border-radius: 8px; /* זווית מעוגלת */
    height: 200px; /* אורך מרבי */
    width: 400px; /* אורך מקרי */
}

.popup-content {
    background-color: rgb(255 255 255 / 0.40); /* צבע לבן שקפקף */
    padding: 20px;
    border-radius: 8px; /* זווית מעוגלת */
    box-shadow: 0px 0px 15px rgba(1, 0, 0, 0.3); /* שקפקף */
    height: 100%; /* אורך מרבי */
    width: 400px; /* אורך מקרי */
}

.popup-content1 {
    background-color: rgb(255 255 255 / 0.40); /* צבע לבן שקפקף */
    padding: 20px;
    border-radius: 8px; /* זווית מעוגלת */
    box-shadow: 0px 0px 15px rgba(1, 0, 0, 0.3); /* שקפקף */
    height: 200px; /* אורך מרבי */
    width: 400px; /* אורך מקרי */
}


/* כפתור סגירה */
.popup-content .close_but {
    position: absolute;
    top: 75%;
    right: 310px;
}

/* כפתור הרשמה */
.popup-content .open_but {
    position: absolute;
    top: 75%;
    right: 230px;
}

.open_but, .close_but {
    font-family: 'Open Sans', sans-serif;
    background: #937c6f;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    width: 70px;
    margin-top: 40px; /* מרווח בין הכפתורים לתיבות הקלט */
}

.Register_but, .Login_but {
    position: absolute;
    font-family: 'Open Sans', sans-serif;
    background: #937c6f;
    color: #fff;
    padding: 7px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 14px;
    width: 150px;
}

.Register_but {
    top: 50%;
    left: 220px;
}

.Login_but {
    top: 50%;
    left: 30px;
}
/* כותרת לחלון */
.popup-content .popup-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: right;
}

.popup-content1 .popup-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: right;
}

/* טקסט בתוך הקופץ */
.popup-content .popup-text {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

.popup-content label {
    text-align: right;
    display: block;
    margin-bottom: 10px;
}

.popup-content input[type="text"],
.popup-content input[type="password"],
.popup-content input[type="email"] {
    text-align: right;
    direction: rtl;
    width: calc(100% ); /* גודל קבוע לתיבות */
}

/* סגנון לתמונה של הסיסמה */
.popup-content img {
    position: absolute;
    top: 76%;
    right: 320px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 40px;
    height: 40px;
}
